<!DOCTYPE html>
<html>
  <head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body ng-app='app'>
    <div ng-controller="PostsCtrl" class='container'>
      <h1>Najnowsze posty</h1>
      <input ng-model='postBody' class='form-control' />
      <buttom ng-click = 'addPost()' class='btn-default'>Dodaj Post</button>
      <ul class="list-group">
        <li ng-repeat="post in posts" class="list-group-item">
          <strong>@{{post.username}}</strong>
          <span>{{post.body}}</span>
        </li>
      </ul>
    </div>
  <script src ='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js'></script>
  <script>
    var app = angular.module('app', [])
    app.controller('PostsCtrl', function($scope){

      $scope.addPost = function () {
        if ($scope.postBody) {
          $scope.posts.unshift({
            username: 'dickeyxxx',
            body: $scope.postBody
          })
          $scope.postBody = null
          }
        }
      $scope.posts = [
        {
          username: 'dickeyxxx',
          body: 'node rzadzi'
        },
        {
          username: 'joedickey',
          body: 'testujemy angulara'
        }
      ]
    })
  </script>
  </body>
</html>
